.section-sponsor {
  height: auto !important;
  min-height: 760px;
  background-color: #000;
  color: #fff;
  padding: 0 5%;

  .back-btn {
    margin-top: 50px;

    span {
      border: 5px solid lighten(#ff4929, 8%);
      background-color: lighten(#ff4929, 8%);
      border-radius: 5px;
      padding: 5px 0;

      a {
        color: #fff;
        padding: 10px 5px;
      }
    }
  }

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;

    .logo {
      img {
        width: 300px;
        height: 200px;
        border: 3px solid #e9e9e9;
      }
    }

    .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;

      .intro {
        width: 65%;
        display: flex;
        flex-direction: column;

        p {
          width: 100%;
          font-size: 1.2rem;
          text-align: center;
          margin: 8px 0;
        }
      }
    }

    .btn-container {
      margin-top: 60px;

      .btn-link {
        background-color: #131313;
        border: 3px solid #000000;
        border-radius: 30px;
        font-size: 1.1rem;
        font-weight: 400;
        color: #ffffff;
        padding: 8px 18px;
        transition: all ease-in-out 0.5s;
        cursor: pointer;

        .icon {
          animation: arrow-jump-right 1.5s infinite;
        }

        @keyframes arrow-jump-right {
          0% {
            opacity: 0.2;
          }

          100% {
            opacity: 1;
            transform: translateX(10px);
          }
        }

        &:hover {
          background-color: #ffffff;
          color: #000000;
          transition: all ease-in-out 0.2s;
        }
      }
    }

    .underline {
      font-weight: 400;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        top: 95%;
        left: 0;
        border-bottom: 3px solid #e0575d;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    height: auto !important;
    min-height: unset;

    .section-content {
      padding-bottom: 80px;

      .info {
        .intro {
          width: 70%;
        }
      }
    }
  }

  @media only screen and (max-width: 425px) {
    .back-btn {
      margin-top: 35px;

      span {
        padding: 3px 0;

        a {
          font-size: 0.9rem;
          padding: 10px 3px;
        }
      }
    }

    .section-content {
      padding-top: 50px;
      padding-bottom: 100px;

      .logo {
        img {
          width: 250px;
          height: 170px;
        }
      }

      .info {
        .intro {
          width: 95%;

          p {
            width: 100%;
            font-size: 1rem;
          }
        }
      }

      .btn-container {
        .btn-link {
          font-size: 1rem;
        }
      }
    }
  }
}
