.section-about {
  height: auto !important;

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;

    .image-container {
      width: 40%;
      max-width: 475px;
      display: flex;
      justify-content: center;
      margin-bottom: 40px;

      img {
        width: 100%;
        border: 2px solid darken(#ff4929, 20%);
        border-radius: 2px;
      }
    }

    .info {
      width: 85%;
      max-width: 1100px;

      p {
        text-align: justify;
        font-size: 1.1rem;
        line-height: 1.8;
        margin: 0;
        margin-bottom: 15px;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    height: auto !important;

    .section-content {
      padding-bottom: 50px;

      .image-container {
        width: 60%;
      }

      .info {
        width: 90%;

        p {
          font-size: 1rem;
        }
      }
    }
  }

  @media only screen and (max-width: 425px) {
    .section-content {
      padding-bottom: 50px;

      .image-container {
        width: 70%;
      }

      .info {
        width: 93%;

        p {
          font-size: 1rem;
        }
      }
    }
  }
}
