.section-speakers {
  height: auto !important;
  min-height: 760px;
  color: #111;
  padding: 0 5%;

  background-image: url('../../assets/hero/star-background.jpg');

  .section-heading {
    text-align: center;
    font-size: 2.8rem;
    padding-top: 30px;
    margin-top: 0;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;

    // .container {
    //   height: 400px;
    //   width: 730px;
    //   position: relative;

    //   img {
    //     border-radius: 50%;
    //     border: 2px solid #ff4929;
    //   }

    //   .img-1 {
    //     height: 70%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //   }

    //   .img-2 {
    //     height: 30%;
    //     position: absolute;
    //     top: 30px;
    //     right: 250px;
    //   }

    //   .img-3 {
    //     height: 40%;
    //     position: absolute;
    //     bottom: 0;
    //     left: 270px;
    //   }

    //   .img-4 {
    //     height: 60%;
    //     position: absolute;
    //     bottom: 25px;
    //     right: 0;
    //   }
    // }

    .collage-container {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -50px;

      img {
        width: 100%;
        max-width: 750px;
      }
    }

    h2.text {
      font-size: 1.2rem;
      color: #e6e6e6;
      margin-top: 30px;
    }

    .btn-container {
      margin-top: 50px;

      .btn-link {
        background-color: #131313;
        border: 3px solid #fff;
        border-radius: 30px;
        font-size: 1.1rem;
        font-weight: 400;
        color: #fff;
        padding: 8px 25px;
        transition: all ease-in-out 0.5s;
        cursor: pointer;

        &:hover {
          background-color: #000;
          color: #fff;
          transition: all ease-in-out 0.2s;
        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    min-height: unset;

    .section-content {
      padding-bottom: 80px;

      // .container {
      //   height: 350px;
      //   width: 580px;

      //   .img-2 {
      //     right: 200px;
      //   }

      //   .img-3 {
      //     left: 210px;
      //   }
      // }
    }
  }

  @media only screen and (max-width: 680px) {
    .section-content {
      padding-top: 50px;
      padding-bottom: 80px;

      // .container {
      //   height: 240px;
      //   width: 400px;

      //   .img-2 {
      //     right: 140px;
      //   }

      //   .img-3 {
      //     left: 150px;
      //   }
      // }

      .collage-container {
        width: 70%;
        margin-top: -70px;
      }

      .btn-container {
        margin-top: 40px;
      }
    }
  }

  @media only screen and (max-width: 425px) {
    .section-content {
      padding-top: 50px;
      padding-bottom: 80px;

      // .container {
      //   height: 200px;
      //   width: 330px;

      //   .img-2 {
      //     right: 120px;
      //   }

      //   .img-3 {
      //     left: 120px;
      //   }
      // }

      .collage-container {
        width: 100%;
        margin-top: -70px;
      }

      h2.text {
        font-size: 1rem;
        margin-top: 15px;
      }

      .btn-container {
        margin-top: 35px;
      }
    }
  }
}
