.section-hero {
  height: 760px !important;
  display: flex;
  flex-direction: column;
  align-items: center;

  // background-image: url('../../assets/hero/background-image.jpg');

  .logo-container {
    width: 90%;

    // TODO: use commented value
    height: 100%;
    // height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;

      &.logo-desktop {
        display: block;
      }

      &.logo-mobile {
        display: none;
      }
    }

    video {
      // TODO: use commented value
      height: 95%;
      margin-top: -30px;
      // height: 100%;

      &.logo-desktop {
        display: block;
      }

      &.logo-mobile {
        display: none;
      }
    }
  }

  .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    // TODO: unhide later
    display: none;

    .child {
      width: 275px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0;

      .icon {
        font-size: 30px;
        color: #ff4929;
        margin-bottom: 12px;
      }

      h2 {
        font-family: 'Inter', sans-serif;
        font-size: 2rem;
        text-align: center;
        margin: 0;
      }

      &.date-container {
        .date {
          margin-top: -2px;

          sup {
            font-size: 22px;
          }

          .ampersand {
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  .hero-icon {
    margin-top: 40px;
    font-size: 2.2rem;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    height: 85vh !important;

    .logo-container {
      // TODO: use commented value
      height: 100%;
      // height: 57%;
    }

    .content {
      .child {
        .icon {
          font-size: 26px;
        }

        h2 {
          font-size: 1.6rem;
        }

        &.date-container {
          .date {
            sup {
              font-size: 20px;
            }

            .ampersand {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 425px) {
    height: 90vh !important;
    justify-content: center;

    .logo-container {
      width: 90%;
      height: 60%;
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
      margin-top: -20px;

      img {
        &.logo-desktop {
          display: none;
        }

        &.logo-mobile {
          display: block;
        }
      }

      video {
        // TODO: use commented value
        height: 97%;
        // height: 90%;

        &.logo-desktop {
          display: none;
        }

        &.logo-mobile {
          display: block;
        }
      }
    }

    .content {
      .child {
        width: 185px;
        margin: 12px 0;

        .icon {
          font-size: 22px;
        }

        h2 {
          font-size: 1.25rem;
        }

        &.date-container {
          .date {
            sup {
              font-size: 15px;
            }

            .ampersand {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .hero-icon {
      margin-top: 30px;
      font-size: 1.8rem;
    }
  }

  @media only screen and (max-width: 412px) {
    .logo-container {
      height: 50%;
      margin-top: -40px;
    }
  }
}
