.sidedrawer {
  &.open {
    transform: translateX(0);
  }

  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  background-color: #111;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);

  .options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;

    .option {
      font-size: 1.3rem;
      font-weight: 600;
      margin: 15px 0;
    }
  }

  .icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.25rem;
    color: #bcbcbc;
    animation: scale 2s ease-in-out infinite alternate;

    @keyframes scale {
      0% {
        opacity: 0.6;
        transform: scale(0.9);
      }

      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
