.section-speaker-form {
  height: auto !important;
  // min-height: 760px;
  color: #fff;
  padding: 0 5%;

  .section-heading {
    text-align: center;
    font-size: 2.8rem;
    padding-top: 30px;
    margin-top: 0;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;

    h2 {
      font-size: 2rem;
      text-align: center;

      span {
        color: #ff4929;
      }
    }

    .text {
      width: 300px;
      font-size: 1.1rem;
      font-style: italic;
      text-align: center;
    }

    .btn-container {
      margin-top: 50px;

      .btn-link {
        background-color: #131313;
        border: 3px solid #fff;
        border-radius: 30px;
        font-size: 1.1rem;
        font-weight: 400;
        color: #fff;
        padding: 8px 25px;
        transition: all ease-in-out 0.5s;
        cursor: pointer;

        &:hover {
          background-color: #000;
          color: #fff;
          transition: all ease-in-out 0.2s;
        }
      }
    }

    .underline {
      font-weight: 400;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        top: 95%;
        left: 0;
        border-bottom: 3px solid #ff4929;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    height: auto !important;
    min-height: unset;

    .section-content {
      padding-bottom: 80px;

      h2 {
        font-size: 1.8rem;
      }

      .btn-container {
        .btn-link {
          font-size: 1rem;
        }
      }
    }
  }

  @media only screen and (max-width: 425px) {
    .section-content {
      padding-top: 50px;
      padding-bottom: 80px;

      h2 {
        font-size: 1.6rem;
      }

      .text {
        width: 70%;
        font-size: 1rem;
      }

      .btn-container {
        .btn-link {
          font-size: 0.9rem;
        }
      }
    }
  }
}
