.section-speakers-page {
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 0 5%;
  padding-bottom: 100px;

  .section-heading {
    text-align: center;
    font-size: 2.8rem;
    color: #ff4929;
    padding-top: 40px;
    margin: 0 0 60px;
  }

  .section-sub-heading {
    font-size: 1.8rem;
    color: lighten(#ff4929, 10%);
    margin: 70px auto 50px;

    .icon.arrow-down {
      margin: 0 10px;
    }
  }

  .section-content {
    display: flex;
    // justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .speaker-container {
      width: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #0c0c0c;
      border-radius: 18px;
      padding: 20px;
      margin: 10px;

      .display-pic {
        img {
          width: 160px;
          height: 160px;
          border-radius: 50%;
          border: 3px solid darken(#ff4929, 20%);

          @media only screen and (max-width: 768px) {
            width: 140px;
            height: 140px;
            margin-top: 10px;
          }

          @media only screen and (max-width: 425px) {
            width: 100px;
            height: 100px;
            margin-top: 10px;
          }
        }
      }

      .name {
        font-size: 1.4rem;
      }

      .profession {
        font-size: 1.2rem;
        color: #ff4929;
      }

      .social-icons {
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
        margin-bottom: 20px;

        .icon {
          margin: 0 4px;
          color: #fff;
        }
      }
    }

    .bio {
      // font-family: 'Roboto', sans-serif;
      font-family: 'Inter', sans-serif;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 1.1rem;
      line-height: 1.4;
      letter-spacing: 0.8px;
      color: #fdfdfd;
      color: #f1f1f1;
      text-align: center;
      text-align: justify;
    }

    .divider-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 60px 0 60px;

      .divider {
        width: 180px;
      }
    }
  }

  .illustration-container {
    .illustration {
      width: 300px;
      position: absolute;
      right: 30px;
      bottom: -90px;
    }
  }

  .text-center {
    text-align: center !important;
  }

  @media only screen and (max-width: 1024px) {
    .section-content {
      .speaker-container {
        width: 45%;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .section-content {
      padding-bottom: 150px;

      .speaker-container {
        width: 85%;
      }

      .divider-container {
        margin: 50px 0 90px;

        .divider {
          width: 30%;
        }
      }
    }

    .illustration-container {
      .illustration {
        width: 40%;
      }
    }
  }

  @media only screen and (max-width: 425px) {
    .section-heading {
      font-size: 2.2rem;
    }

    .section-content {
      padding-bottom: 100px;

      .speaker-container {
        width: 100%;

        .bio {
          font-size: 1rem;
        }
      }

      .divider-container {
        margin: 40px 0 50px;

        .divider {
          width: 40%;
        }
      }
    }

    .illustration-container {
      .illustration {
        width: 50%;
      }
    }
  }
}
