.member {
  display: flex;
  flex-direction: column;
  align-items: center;

  .img-container {
    .display-pic {
      img {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        border: 3px solid darken(#ff4929, 20%);
        // filter: grayscale(1);

        @media only screen and (max-width: 768px) {
          width: 140px;
          height: 140px;
          margin-top: 10px;
        }

        @media only screen and (max-width: 425px) {
          width: 100px;
          height: 100px;
          margin-top: 10px;
        }
      }
    }
  }

  .name {
    font-size: 1.1rem;
  }

  &.core {
    .name {
      color: lighten(#ff4929, 5%);
    }
  }

  .position {
    font-size: 1rem;
    color: lighten(#ff4929, 5%);
  }

  .social-icons {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 20px;

    .icon {
      margin: 0 4px;
      color: #fff;
    }
  }
}
