.section-sponsor-us {
  height: auto !important;
  min-height: 760px;
  color: #111;
  padding: 0 5%;

  .section-heading {
    text-align: center;
    font-size: 2.8rem;
    padding-top: 30px;
    margin-top: 0;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;

    .sponsorship-reason-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .sponsorship-reason {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px 50px;

        .image-container {
          width: 130px;

          img {
            width: 100%;
            border-radius: 50%;
            border: 3px solid #ff4929;
          }
        }

        h2 {
          font-size: 1.7rem;
          font-weight: 600;
          text-align: center;
          margin-bottom: 0;

          &.title {
            color: #ff4929;
            font-weight: 500;
          }
        }

        p {
          font-size: 1.1rem;
          line-height: 1.55;
          text-align: justify;
          margin-bottom: 0;
        }
      }
    }

    .btn-container {
      margin-top: 40px;

      .btn-link {
        background-color: #131313;
        border: 3px solid #fff;
        border-radius: 30px;
        font-size: 1.1rem;
        font-weight: 400;
        color: #fff;
        padding: 8px 25px;
        transition: all ease-in-out 0.5s;
        cursor: pointer;

        &:hover {
          background-color: #000;
          color: #fff;
          transition: all ease-in-out 0.2s;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    height: auto !important;
    min-height: unset;

    .section-content {
      padding-bottom: 80px;

      .sponsorship-reason-container {
        .sponsorship-reason {
          width: 240px;
          margin: 0 20px 50px;

          .image-container {
            width: 100px;
          }

          h2 {
            font-size: 1.5rem;
          }

          p {
            font-size: 1rem;
          }
        }
      }

      .btn-container {
        .btn-link {
          font-size: 1rem;
        }
      }
    }
  }

  @media only screen and (max-width: 425px) {
    .section-content {
      padding-top: 30px;
      padding-bottom: 80px;

      .sponsorship-reason-container {
        .sponsorship-reason {
          width: 250px;
          margin: 0 20px 50px;

          .image-container {
            width: 90px;
          }

          h2 {
            font-size: 1.3rem;
          }

          p {
            font-size: 0.95rem;
          }
        }
      }

      .btn-container {
        margin-top: 30px;

        .btn-link {
          font-size: 0.9rem;
        }
      }
    }
  }
}
