.section-sponsors {
  height: auto !important;
  min-height: 530px;
  background-color: #000;
  color: #fff;
  padding: 0 5%;

  .section-heading {
    text-align: center;
    font-size: 2.8rem;
    color: #ff4929;
    padding-top: 40px;
    margin-top: 0;
  }

  .section-content {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

    .sponsors-container {
      margin-top: 30px;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      grid-gap: 50px;

      max-width: 1100px;
      width: 60%;
      @media only screen and (max-width: 1700px) {
        width: 80%;
      }
      @media only screen and (max-width: 1024px) {
        width: 100%;
      }

      .sponsor-image {
        cursor: pointer;
        padding: 20px 0;

        img {
          width: 300px;
          height: 200px;
          border: 3px solid #ff4929;
          transition: all ease-in-out 0.2s;

          &:hover {
            border: 3px solid darken(#ff4929, 20%);
            transition: all ease-in-out 0.2s;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    height: auto !important;

    .section-content {
      padding-bottom: 60px;

      .sponsors-container {
        width: 100%;
        grid-gap: 40px;

        .sponsor-image {
          width: 40%;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .section-content {
      margin-top: -30px;

      .sponsors-container {
        width: 75%;
        grid-gap: 0;

        .sponsor-image {
          width: 90%;
        }
      }
    }
  }
}
